@import './variables';

.App-header {
  background-color: $color-primary;
  height: 80px;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0 5%;
}
.App-url {
  line-height: 2.5em;
  color: #455a64;
  font-weight: 200;
  a {
    color: inherit;
    text-decoration: none;
  }
}
.App-title {
  line-height: 1.1em;
  display: inline-block;
  a {
    color: inherit;
    text-decoration: none;
  }
}

/* FILTERS */
.issues-filters {
  padding: 0 5%;
  margin: 10px 0;
  > ul {
    list-style-type: none;
    padding: 15px;
    margin: 0px;
    display: flex;
    > li {
      padding: 5px 10px;
      font-weight: 200;
      &:hover {
        cursor: pointer;
      }
      &.selected {
        color: #ff6f00;
      }
    }
  }
}

/* ISSUES */
.issues-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3%;
  .card {
    display: block;
    flex: 1 1 100%;
    margin: 0 1.56% 1.56% 1.56%;
    transition:0.3s;
    box-shadow:#e9e9e9 0px 5px 5px 0px;
    &:hover {
      box-shadow:#e9e9e9 0px 20px 20px 0px;
      transform:translatey(-20px);
      cursor:pointer;
    }
    @media screen and (min-width: 766px){
      display: block;
      flex: 1 1 300px;
      margin: 0 1.56% 1.56% 1.56%;
      transition:0.3s;
      box-shadow:#e9e9e9 0px 5px 5px 0px;

      /* Ensures 2 card on screen width */
      max-width: 44%;
    }
    @media screen and (min-width: 1057px){
      display: block;
      flex: 1 1 28%;
      margin: 0 1.56% 1.56% 1.56%;
      transition:0.3s;
      box-shadow:#e9e9e9 0px 5px 5px 0px;

      /* Ensures 3 card on screen width */
      max-width: 30%;
    }
  }
  .card-title {
    background: #2196f3;
    color: white;
    padding: 20px;
    font-size: 18px;
  }
  .card-body {
    padding: 20px;
    font-size: 12px;
  }
  .card-labels > ul {
    list-style-type: none;
    padding: 15px;
    margin: 0px;
    display: flex;
    > li {
      font-size: 10px;
      background: $color-primary;
      color: white;
      padding: 5px 10px;
      border-radius: 8px;
    }
  }
}


/* PAGINATION */

.paginator {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #2196f3;

  &:focus {
    outline: none;
  }
}

.page-number {
  margin: 0 15px;
  font-size: 25px;
}