.App-header {
  background-color: #ff6f00;
  height: 80px;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0 5%;
}

.App-url {
  line-height: 2.5em;
  color: #455a64;
  font-weight: 200;
}

.App-url a {
  color: inherit;
  text-decoration: none;
}

.App-title {
  line-height: 1.1em;
  display: inline-block;
}

.App-title a {
  color: inherit;
  text-decoration: none;
}


/* FILTERS */

.issues-filters {
  padding: 0 5%;
  margin: 10px 0;
}
.issues-filters > ul {
  list-style-type: none;
  padding: 15px;
  margin: 0px;
  display: flex;
}

.issues-filters > ul > li {
  padding: 5px 10px;
  font-weight: 200;
}

.issues-filters > ul > li:hover {
  cursor: pointer;
}

.issues-filters > ul > li.selected {
  color: #ff6f00;
}

/* ISSUES */

.issues-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3%;
}
/* Smaller Screens : Only 1 card on the width */
.issues-container .card {
  display: block;
  flex: 1 1 100%;
  margin: 0 1.56% 1.56% 1.56%;
  transition:0.3s;
  box-shadow:#e9e9e9 0px 5px 5px 0px;

  /* Ensures 1 card on screen width */
  max-width: 100%;
}

/* Medium Screens:  Only 2 card on the screen width */
@media screen and (min-width: 766px){
  .issues-container .card {
    display: block;
    flex: 1 1 300px;
    margin: 0 1.56% 1.56% 1.56%;
    transition:0.3s;
    box-shadow:#e9e9e9 0px 5px 5px 0px;

    /* Ensures 2 card on screen width */
    max-width: 44%;
  }
}

/* Desktops and Larger screens : Only 3 card on the screen width*/
@media screen and (min-width: 1057px){
  .issues-container .card {
    display: block;
    flex: 1 1 28%;
    margin: 0 1.56% 1.56% 1.56%;
    transition:0.3s;
    box-shadow:#e9e9e9 0px 5px 5px 0px;
    
    /* Ensures 3 card on screen width */
    max-width: 30%;
  }
}

.issues-container .card-title {
  background: #2196f3;
  color: white;
  padding: 20px;
  font-size: 18px;
}

.issues-container .card-body {
  padding: 20px;
  font-size: 12px;
}

.issues-container .card-labels > ul {
  list-style-type: none;
  padding: 15px;
  margin: 0px;
  display: flex;
}

.issues-container .card-labels > ul > li {
  font-size: 10px;
  background: #ff6f00;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
}

.issues-container .card:hover {
  box-shadow:#e9e9e9 0px 20px 20px 0px;
  transform:translatey(-20px);
  cursor:pointer;

}
