@import './variables';

.landing {
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.landing-title {
  color: #ffffff;
}

/* Credit: https://codepen.io/JeremyPP/pen/xqRZgb */
.search-bar {
	background: #fff;
	width: 80%;
	max-width: 500px;
	margin: 0 auto;
	height: 62px;
	/*border-radius: 2px;*/
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  i.search-icon {
    height: 100%;
    line-height: 62px;
    float: left;
    width: 52px;
    text-align: center;
    color: #CFD8DC;
    font-size: 28px;
    padding-left: 8px;
  }
  input#search-input {
    height: 62px;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background: transparent;
    width: calc(100% - 62px);
    outline: none;
    padding-right: 32px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.76);
    font-weight: 200;
    font-family: 'Montserrat', 'sans-serif';
    &::-webkit-input-placeholder {
      color: #CFD8DC;
    }
  }
}


